---
import "../styles/global.css";
import "@fontsource-variable/inconsolata";
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Frontend Mentor | Conference ticket generator</title>
  </head>
  <body>
    <img src='/assets/images/pattern-lines.svg' class='pattern-lines' />
    <img
      class='pattern-squiggly-line-top'
      src='/assets/images/pattern-squiggly-line-top.svg'
      alt=''
    />
    <picture class='pattern-squiggly-line-bottom'>
      <source
        srcset='/assets/images/pattern-squiggly-line-bottom-desktop.svg'
        media='(min-width: 1024px)'
      />
      <img
        src='/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'
      />
    </picture>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inconsolata Variable", monospace;
    background-image: url("/assets/images/background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .pattern-lines {
    position: fixed;
    transform: scale(2);
    z-index: -1;
  }

  .pattern-squiggly-line-bottom {
    position: fixed;
    z-index: -1;
    bottom: -4rem;
    left: 0;
  }
  .pattern-squiggly-line-top {
    position: fixed;
    z-index: -1;
    right: -7rem;
    top: -3rem;
    transform: scale(0.4);
  }
  @media (min-width: 768px) {
    body {
      background-image: url("/assets/images/background-tablet.png");
    }
    .pattern-lines {
      transform: scale(1.5);
    }
    .pattern-squiggly-line-top {
      top: -3rem;
      transform: scale(0.6);
    }
  }
  @media (min-width: 1024px) {
    body {
      background-image: url("/assets/images/background-desktop.png");
    }
    .pattern-squiggly-line-bottom {
      bottom: 0;
    }
    .pattern-lines {
      transform: scale(1);
    }
    .pattern-squiggly-line-top {
      top: 3rem;
      right: 0;
      transform: scale(1);
    }
  }
</style>
